/*------------------------------BANNERS-------------------------------------------*/
.altravita_b_place {
    text-align: center;
}
.show_on_480 {
    display: none;
}
@media only screen and (max-width: 520px) {
    .show_on_480 {
        display: block;
    }
    .hide_on_480 {
        display: none;
    }
}